In [3]:
import pandas as pd

In [4]:
arquivo = "dados_brutos_23-05-22.xlsx"

In [5]:
df_raw = pd.read_excel(arquivo)

In [6]:
df_raw.head()

,Parlamentar,Votação,12/02/2019 16:11:04 - PL Nº 10431/2018 - REQUERIMENTO DE RETIRADA DE PAUTA,12/02/2019 17:17:11 - PL Nº 10431/2018 - REQUERIMENTO DE ADIAMENTO DA DISCUSSÃO POR 2 SESSÕES,"13/02/2019 18:21:51 - MPV Nº 852/2018 - DTQ 12 - BL. PDT - ART. 22, INSERIDO NO ART. 6º DA MPV...",14/02/2019 10:33:23 - PDC Nº 379/2016 - REQUERIMENTO DE RETIRADA DE PAUTA,19/02/2019 16:09:37 - REQ Nº 482/2019 - URGÊNCIA PARA APRECIAÇÃO DO PDL Nº 3/2019,19/02/2019 16:52:33 - PDL Nº 3/2019 - REQUERIMENTO DE RETIRADA DE PAUTA,19/02/2019 18:15:52 - PLP Nº 441/2017 - EMENDAS DE NºS 6 E 8 COM PARECER PELA REJEIÇÃO,19/02/2019 19:19:14 - PLP Nº 441/2017 - DTQ. 10 - PSOL - ART. 1º DO SUBSTITUTIVO,...,19/05/2022 10:46:08 - PL Nº 3179/2012 - REQUERIMENTO DE RETIRADA DE PAUTA,19/05/2022 11:43:49 - PL Nº 3179/2012 - DTQ 8 - PCdoB - EMENDA DE PLENÁRIO Nº 11,"19/05/2022 12:04:30 - PL Nº 3179/2012 - DTQ 5 - PT - EXP. ""OU EM EDUCAÇÃO PROFISSIONAL TECNOLÓGICA""...",19/05/2022 12:30:04 - PL Nº 3179/2012 - DTQ 2 - PL - EMENDA DE PLENÁRIO Nº 4,19/05/2022 12:46:34 - PL Nº 3179/2012 - DTQ 4 - PT - EMENDA DE PLENÁRIO Nº 6,19/05/2022 13:20:47 - PL Nº 3179/2012 - DTQ 11 - PSDB - EMENDA DE PLENÁRIO Nº 14,19/05/2022 13:49:46 - PL Nº 3179/2012 - DTQ 10 - NOVO - EMENDA DE PLENÁRIO Nº 3,"19/05/2022 14:10:36 - PL Nº 3179/2012 - DTQ 1 - PT - ART. 89-A DA LEI Nº 9.394/1996, NA REDAÇÃO DO ART. 1º...",19/05/2022 14:26:49 - PL Nº 3179/2012 - DTQ 9 - PSB - EMENDA DE PLENÁRIO Nº 12,19/05/2022 14:44:02 - PL Nº 3179/2012 - DTQ 3 - PSOL - EMENDA DE PLENÁRIO Nº 5
0,Abílio Santana,NaN,Não,Não votou,Não,Não votou,Sim,Não,Sim,Sim,...,Não,Não,Sim,Não,Não,Não,Não,Sim,Não,Não
1,Abou Anni,NaN,Não votou,Não,Sim,Não,Não,Abstenção,Não,Sim,...,Não,Não votou,Não votou,Não votou,Não,Não,Não,Sim,Não,Não
2,Acácio Favacho,NaN,Sim,Não,Não votou,Não votou,Sim,Não votou,Não,Não,...,Não,Não,Sim,Não votou,Não,Não,Não,Sim,Não,Não
3,Adolfo Viana,NaN,Não,Não,Sim,Não,Sim,Não,Não,Sim,...,Não votou,Não,Sim,Não,Não,Não,Não,Não votou,Não votou,Não
4,Adriana Ventura,NaN,Não,Não,Sim,Não,Sim,Não,Não,Sim,...,Não,Não,Sim,Sim,Não,Não,Sim,Sim,Não,Não

In [7]:
df1 = df_raw.drop("Votação", axis = 1)

In [8]:
df1.head()

,Parlamentar,12/02/2019 16:11:04 - PL Nº 10431/2018 - REQUERIMENTO DE RETIRADA DE PAUTA,12/02/2019 17:17:11 - PL Nº 10431/2018 - REQUERIMENTO DE ADIAMENTO DA DISCUSSÃO POR 2 SESSÕES,"13/02/2019 18:21:51 - MPV Nº 852/2018 - DTQ 12 - BL. PDT - ART. 22, INSERIDO NO ART. 6º DA MPV...",14/02/2019 10:33:23 - PDC Nº 379/2016 - REQUERIMENTO DE RETIRADA DE PAUTA,19/02/2019 16:09:37 - REQ Nº 482/2019 - URGÊNCIA PARA APRECIAÇÃO DO PDL Nº 3/2019,19/02/2019 16:52:33 - PDL Nº 3/2019 - REQUERIMENTO DE RETIRADA DE PAUTA,19/02/2019 18:15:52 - PLP Nº 441/2017 - EMENDAS DE NºS 6 E 8 COM PARECER PELA REJEIÇÃO,19/02/2019 19:19:14 - PLP Nº 441/2017 - DTQ. 10 - PSOL - ART. 1º DO SUBSTITUTIVO,20/02/2019 16:22:19 - PLP Nº 441/2017 - REQUERIMENTO DE RETIRADA DE PAUTA,...,19/05/2022 10:46:08 - PL Nº 3179/2012 - REQUERIMENTO DE RETIRADA DE PAUTA,19/05/2022 11:43:49 - PL Nº 3179/2012 - DTQ 8 - PCdoB - EMENDA DE PLENÁRIO Nº 11,"19/05/2022 12:04:30 - PL Nº 3179/2012 - DTQ 5 - PT - EXP. ""OU EM EDUCAÇÃO PROFISSIONAL TECNOLÓGICA""...",19/05/2022 12:30:04 - PL Nº 3179/2012 - DTQ 2 - PL - EMENDA DE PLENÁRIO Nº 4,19/05/2022 12:46:34 - PL Nº 3179/2012 - DTQ 4 - PT - EMENDA DE PLENÁRIO Nº 6,19/05/2022 13:20:47 - PL Nº 3179/2012 - DTQ 11 - PSDB - EMENDA DE PLENÁRIO Nº 14,19/05/2022 13:49:46 - PL Nº 3179/2012 - DTQ 10 - NOVO - EMENDA DE PLENÁRIO Nº 3,"19/05/2022 14:10:36 - PL Nº 3179/2012 - DTQ 1 - PT - ART. 89-A DA LEI Nº 9.394/1996, NA REDAÇÃO DO ART. 1º...",19/05/2022 14:26:49 - PL Nº 3179/2012 - DTQ 9 - PSB - EMENDA DE PLENÁRIO Nº 12,19/05/2022 14:44:02 - PL Nº 3179/2012 - DTQ 3 - PSOL - EMENDA DE PLENÁRIO Nº 5
0,Abílio Santana,Não,Não votou,Não,Não votou,Sim,Não,Sim,Sim,Não,...,Não,Não,Sim,Não,Não,Não,Não,Sim,Não,Não
1,Abou Anni,Não votou,Não,Sim,Não,Não,Abstenção,Não,Sim,Não votou,...,Não,Não votou,Não votou,Não votou,Não,Não,Não,Sim,Não,Não
2,Acácio Favacho,Sim,Não,Não votou,Não votou,Sim,Não votou,Não,Não,Não,...,Não,Não,Sim,Não votou,Não,Não,Não,Sim,Não,Não
3,Adolfo Viana,Não,Não,Sim,Não,Sim,Não,Não,Sim,Não,...,Não votou,Não,Sim,Não,Não,Não,Não,Não votou,Não votou,Não
4,Adriana Ventura,Não,Não,Sim,Não,Sim,Não,Não,Sim,Não,...,Não,Não,Sim,Sim,Não,Não,Sim,Sim,Não,Não

In [9]:
pautas = df1.drop("Parlamentar", axis = 1).columns

In [10]:
pautas_simp = []
for p in range(1, len(pautas)+1):
    pautas_simp.append("V%i" %p)

In [11]:
pautas = pd.DataFrame(pautas, index = pautas_simp, columns = ["Votação"])

In [12]:
pautas.head()

                                              Votação
V1  12/02/2019 16:11:04 - PL   Nº 10431/2018 - REQ...
V2  12/02/2019 17:17:11 - PL   Nº 10431/2018 - REQ...
V3  13/02/2019 18:21:51 - MPV  Nº 852/2018 - DTQ 1...
V4  14/02/2019 10:33:23 - PDC  Nº 379/2016 - REQUE...
V5  19/02/2019 16:09:37 - REQ  Nº 482/2019 - URGÊN...

In [13]:
colunas_simp = pautas_simp.copy()
colunas_simp.insert(0, "Parlamentar")

In [14]:
df1.columns = colunas_simp

In [15]:
df1.head()

,Parlamentar,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V1830,V1831,V1832,V1833,V1834,V1835,V1836,V1837,V1838,V1839
0,Abílio Santana,Não,Não votou,Não,Não votou,Sim,Não,Sim,Sim,Não,...,Não,Não,Sim,Não,Não,Não,Não,Sim,Não,Não
1,Abou Anni,Não votou,Não,Sim,Não,Não,Abstenção,Não,Sim,Não votou,...,Não,Não votou,Não votou,Não votou,Não,Não,Não,Sim,Não,Não
2,Acácio Favacho,Sim,Não,Não votou,Não votou,Sim,Não votou,Não,Não,Não,...,Não,Não,Sim,Não votou,Não,Não,Não,Sim,Não,Não
3,Adolfo Viana,Não,Não,Sim,Não,Sim,Não,Não,Sim,Não,...,Não votou,Não,Sim,Não,Não,Não,Não,Não votou,Não votou,Não
4,Adriana Ventura,Não,Não,Sim,Não,Sim,Não,Não,Sim,Não,...,Não,Não,Sim,Sim,Não,Não,Sim,Sim,Não,Não

In [91]:
df2 = df1.copy()

df2 = df2.replace("-", False)
df2 = df2.replace("Não votou", False)

In [92]:
df2.head()

,Parlamentar,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V1830,V1831,V1832,V1833,V1834,V1835,V1836,V1837,V1838,V1839
0,Abílio Santana,Não,False,Não,False,Sim,Não,Sim,Sim,Não,...,Não,Não,Sim,Não,Não,Não,Não,Sim,Não,Não
1,Abou Anni,False,Não,Sim,Não,Não,Abstenção,Não,Sim,False,...,Não,False,False,False,Não,Não,Não,Sim,Não,Não
2,Acácio Favacho,Sim,Não,False,False,Sim,False,Não,Não,Não,...,Não,Não,Sim,False,Não,Não,Não,Sim,Não,Não
3,Adolfo Viana,Não,Não,Sim,Não,Sim,Não,Não,Sim,Não,...,False,Não,Sim,Não,Não,Não,Não,False,False,Não
4,Adriana Ventura,Não,Não,Sim,Não,Sim,Não,Não,Sim,Não,...,Não,Não,Sim,Sim,Não,Não,Sim,Sim,Não,Não

In [95]:
contador = 1
weight = 0
parlamentares = df1["Parlamentar"]
df_rede_vot = None
df_rede_vot = pd.DataFrame(columns = ["source", "target", "weight"])


for i in parlamentares:
    for j in parlamentares:
        if (df2[df2["Parlamentar"] == i].index[0] < df2[df2["Parlamentar"] == j].index[0]):
            
            df2_1 = (df2[df2["Parlamentar"] == i].transpose())
            df2_1 = df2_1.rename(columns=df2_1.iloc[0]).iloc[1:]
            df2_2 = (df2[df2["Parlamentar"] == j].transpose())
            df2_2 = df2_2.rename(columns=df2_2.iloc[0]).iloc[1:]
            
            df2_3 = df2_1.join(df2_2)
            df2_3 = df2_3.replace(["Sim", "Não", "Abstenção", "Obstrução", "Eleição" ], True)
            
            div = (df2_3.iloc[ : , 0] == df2_3.iloc[ : , 1]).sum()
            
            weight = ( (df2[df2["Parlamentar"] == i].squeeze() ) == ( df2[df2["Parlamentar"] == j].squeeze()) ).sum()
 
            if (weight > 0):
                df_rede_vot = df_rede_vot.append({"source":i, "target":j, "weight":weight, "total_vot":div}, ignore_index = True)
            
    print(contador)
    contador += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588

In [96]:
df_rede_vot.head()

           source            target weight  total_vot
0  Abílio Santana         Abou Anni   1175     1336.0
1  Abílio Santana    Acácio Favacho   1128     1204.0
2  Abílio Santana      Adolfo Viana   1170     1268.0
3  Abílio Santana   Adriana Ventura    992     1459.0
4  Abílio Santana  Adriano do Baldy   1339     1396.0

In [97]:
df_rede_vot.to_csv("df_rede_vot.csv", encoding = "utf-8", index = False, sep = ";")

In [98]:
edge_list_vot = df_rede_vot.copy()
edge_list_vot["weight"] = edge_list_vot["weight"] / edge_list_vot["total_vot"]
edge_list_vot.drop("total_vot", axis = 1, inplace = True)

In [99]:
edge_list_vot.head()

           source            target    weight
0  Abílio Santana         Abou Anni  0.879491
1  Abílio Santana    Acácio Favacho  0.936877
2  Abílio Santana      Adolfo Viana  0.922713
3  Abílio Santana   Adriana Ventura  0.679918
4  Abílio Santana  Adriano do Baldy  0.959169

In [100]:
edge_list_vot.to_csv("edge_list_vot.csv", encoding = "utf-8", index = False, sep = ";")

In [53]:
df3 = df1.copy()

df3 = df3.replace("-", False)
df3 = df3.replace("Não votou", True)
df3 = df3.replace(["Sim", "Não", "Abstenção", "Obstrução", "Eleição" ], False)

In [54]:
df3.head()

,Parlamentar,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V1830,V1831,V1832,V1833,V1834,V1835,V1836,V1837,V1838,V1839
0,Abílio Santana,False,True,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,Abou Anni,True,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
2,Acácio Favacho,False,False,True,True,False,True,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3,Adolfo Viana,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,True,True,False
4,Adriana Ventura,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [55]:
df3 = df3.set_index("Parlamentar")

In [56]:
df3.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V1830,V1831,V1832,V1833,V1834,V1835,V1836,V1837,V1838,V1839
Parlamentar,,,,,,,,,,,,,,,,,,,,,
Abílio Santana,False,True,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Abou Anni,True,False,False,False,False,False,False,False,True,False,...,False,True,True,True,False,False,False,False,False,False
Acácio Favacho,False,False,True,True,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
Adolfo Viana,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,True,True,False
Adriana Ventura,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [57]:
df3 = df3.transpose().sum()

In [62]:
df3 = pd.DataFrame(df3, columns = ["Faltas"]).reset_index()

In [63]:
df3.head()

        Parlamentar Faltas
0    Abílio Santana    365
1         Abou Anni    295
2    Acácio Favacho    460
3      Adolfo Viana    458
4  Adriano do Baldy    142

In [72]:
df4 = df1.copy()

df4 = df4.replace("-", False)
df4 = df4.replace(["Sim", "Não", "Abstenção", "Obstrução", "Eleição", "Não votou" ], True)

In [73]:
df4.head()

,Parlamentar,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V1830,V1831,V1832,V1833,V1834,V1835,V1836,V1837,V1838,V1839
0,Abílio Santana,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,Abou Anni,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,Acácio Favacho,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,Adolfo Viana,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,Adriana Ventura,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [74]:
df4 = df4.set_index("Parlamentar")

In [75]:
df4.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V1830,V1831,V1832,V1833,V1834,V1835,V1836,V1837,V1838,V1839
Parlamentar,,,,,,,,,,,,,,,,,,,,,
Abílio Santana,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
Abou Anni,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
Acácio Favacho,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
Adolfo Viana,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
Adriana Ventura,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [76]:
df4 = df4.transpose().sum()

In [77]:
df4 = pd.DataFrame(df4, columns = ["Participações"]).reset_index()

In [78]:
df4.head()

        Parlamentar Participações
0    Abílio Santana          1839
1         Abou Anni          1838
2    Acácio Favacho          1839
3      Adolfo Viana          1839
4  Adriano do Baldy          1839

In [80]:
df5 = df3.merge(df4)

In [82]:
df5.head()

        Parlamentar Faltas Participações
0    Abílio Santana    365          1839
1         Abou Anni    295          1838
2    Acácio Favacho    460          1839
3      Adolfo Viana    458          1839
4  Adriano do Baldy    142          1839

In [83]:
df5["%Faltas"] = df5["Faltas"] /df5["Participações"]

In [84]:
df5.head()

        Parlamentar Faltas Participações   %Faltas
0    Abílio Santana    365          1839  0.198477
1         Abou Anni    295          1838  0.160501
2    Acácio Favacho    460          1839  0.250136
3      Adolfo Viana    458          1839  0.249048
4  Adriano do Baldy    142          1839  0.077216

In [85]:
df5 = df5.drop(["Faltas", "Participações"], axis = 1)

In [86]:
df5.head()

        Parlamentar   %Faltas
0    Abílio Santana  0.198477
1         Abou Anni  0.160501
2    Acácio Favacho  0.250136
3      Adolfo Viana  0.249048
4  Adriano do Baldy  0.077216

In [88]:
df5.to_csv("dados_faltas.csv", encoding = "utf-8", index = False, sep = ";")